# Press up-arrow for previous matching command
"\e[A":history-search-backward
# Press down-arrow for next matching command
"\e[B":history-search-forwardS
# my preference 
set show-all-if-ambiguous on
set show-all-if-unmodified on
set menu-complete-display-prefix off
"\t": menu-complete
"\e[Z": menu-complete-backward

